<div class="container">
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#/">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <b class="makeItWhite">LookBook App</b>
                </div>
            </a>

        </div>
    </div>
</nav>


<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
<table class="table">
        <thead>
        <tr>
            <th>Title</th>
            <th>Price</th>
            <th>Comments</th>
            <th>Condition</th>
            <th>Seller Username</th>
            <th>Seller Name</th>
        </tr>
        </thead>

        <tbody>
        <tr ng-repeat="o in model.orders">
            <td scope="row">

                {{o.title}}

            </td>
            <td>
                {{o.price}}
            </td>
            <td>
                {{o.comments}}
            </td>

            <td>{{o.condition}}</td>
            <td>{{o.sellerUserName}}</td>
            <td>{{o.sellerFirstName}} {{o.sellerLastName}}</td>
        </tr>
        </tbody>
    </table>
    <div class="ks-addPaddingBottom">

    </div>

</div>

<div class="col-xs-12">
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
            <a ng-href="#/user/viewProfile" class="makeItWhite">
                <i class="fa fa-chevron-left ks-shift-arrow-in-position" aria-hidden="true"></i>
            </a>
            <div class="navbar-text pull-right wbdv-no-right-margin">

                    <span class="glyphicon glyphicon-user makeItWhite">
                    </span>

            </div>
        </div>
    </nav>
</div>
</div>