<style>
    div.c-wrapper{
        width: 50%; /* for example */
        margin: auto;
    }

    .border-for-textbox{
        border-color: #777 #0000ff;
    }


    .carousel-inner img {
        width: 40%; /* use this, or not */
        margin: auto;
    }

    .carousel-inner > .item > img
    {
        padding-top:54px;
    }
    /*.carousel-inner > .item > a > img{*/
        /*width: 40%; !* use this, or not *!*/
        /*margin: auto;*/
    /*}*/
</style>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#/">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <b class="makeItWhite">LookBook App</b>
                </div>
            </a>
         </div>
    <div class="hidden-xs">
        <div class="navbar-text pull-right wbdv-no-right-margin">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 hidden-xs ">
            <a href="#/">
                <button type="button" class="btn btn-outline-primary btn-right" >Login</button>
            </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 hidden-xs">
            <button type="button" class="btn btn-outline-primary btn-right">Sign Up</button>
            </div>
        </div>
    </div>
    </div>
</nav>






 <div class="c-wrapper">
        <div id="carousel-example-generic" class="carousel slide">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"></ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner img">
                <div class="item active">
                    <img width="100%"
                            ng-src="http://books.google.com/books/content?id=pVnglv9Wy2MC&printsec=frontcover&img=1&zoom=2&edge=curl&imgtk=AFLRE70Sm-d9zeTx_rdOM9uW2Kpj-5nGjavdxu2wE5gm2H7abBQoEjLFnZI28-IwJg4cFvkM4dE-VtQLZBUwPxY_GImOIr-e21MQjvK3dw98ROx7xtvDs0fRjjt76pmuBqJfTyh4h29T&source=gbs_api">
                </div>
                <div class="item">
                    <img src="http://placehold.it/500x400">
                    <div class="carousel-caption">
                        hello
                    </div>
                </div>
                <div class="item">
                    <img src="http://placehold.it/700x400">
                    <div class="carousel-caption">
                        hello
                    </div>
                </div>
            </div>

            <!-- Controls -->
        </div>
    </div>
</div>

<div class="input-group ks-pushForList" >
    <input ng-model="searchText" type="text" class="form-control border-for-textbox" placeholder="Search for Books!"/>
    <span class="input-group-addon">

            <a>
               <i ng-click="model.searchBook(searchText)" class="fa fa-search"></i>
            </a>

    </span>
</div>

<!--<div class="input-group">-->
    <!--<input ng-model="searchText" type="text" class="form-control ks-addForFlickrPadding">-->
    <!--<span class="input-group-btn">-->
        <!--<a ng-click="model.searchBook(searchText)" class="btn btn-default" type="button">-->
            <!--<span class="glyphicon glyphicon-search"></span>-->
        <!--</a>-->
    <!--</span>-->
<!--</div>-->

<div class="container-fluid">

    <div ng-show="model.message" class="alert alert-danger" role="alert">
        {{model.message}}
    </div>

    <div class="row container-fluid" ng-show="model.book">
        <div ng-repeat="book in model.book" >
            <!--{{book.volumeInfo.imageLinks.smallThumbnail}}-->
            <!--{{book.volumeInfo.imageLinks.Thumbnail}}-->
            <div class ="col-lg-3 col-md-3 col-sm-6 col-xs-12" ng-if="book.volumeInfo.imageLinks.thumbnail">
               <a ng-click="model.viewDetails(book.id)">
                    <img class="img-responsive thumbnail" ng-src="{{book.volumeInfo.imageLinks.thumbnail}}" alt="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRpjY4hmzAu4LDaXUCy2oLK6vkfC459JsafkcXSqURVbs6vZF-1z3ji8Q"/>
               </a>
            </div>
        </div>
    </div>
</div>
<div class="ks-addPaddingBottom">
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-right wbdv-no-right-margin">
            <a href="#/user/viewProfile">
                <i class="fa fa-power-off makeItWhite icon" aria-hidden="true" ng-click=model.logout()></i>
            </a>
        </div>
    </div>
</nav>








