<div class="container">

    <div class="col-xs-9.02 col-sm-12 col-md-12 col-lg-12 col-xs-offset-1 col-sm-offset-0 col-md-offset-0 col-lg-offset-0 toppad" >
    <div class="row ks-rowShiftUp">
             <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" align="right">
                    <a href="#/admin" ng-show="model.user.role=='ADMIN'">Admin Page</a>
                    <p class="navbar-text navbar-right ks-addPaddingTop">Signed in as <a href="#/user/editProfile" class="navbar-link">{{model.user.username}}</a></p>
                    </div>
                </div>
                 <div class=" col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12 col-lg-12 col-xs-12" align="center">
                            <img alt="User Pic" src={{model.user.imageWidget.url}} class="img-circle img-responsive">
                        </div>

                        <div class="col-md-12 col-lg-12 col-xs-12">
                            <table class="table table-user-information">
                                <tbody>
                                <tr>
                                    <td><b>Username</b></td>
                                    <td>{{model.user.username}}</td>
                                </tr>
                                <tr>
                                    <td>First Name</td>
                                    <td>{{model.user.firstName}}</td>
                                </tr>
                                <tr>
                                    <td>Last name</td>
                                    <td>{{model.user.lastName}}</td>
                                </tr>
                                <tr>
                                    <td>Address</td>
                                    <td>{{model.user.address}}</td>
                                </tr>
                                <tr>
                                    <td>Date of Birth</td>
                                    <td>{{model.user.dateOfBirth}}</td>
                                </tr>

                                <tr>
                                <tr>
                                    <td>Gender</td>
                                    <td>{{model.user.gender}}</td>
                                </tr>
                                <tr>
                                    <td>Place of Residence</td>
                                    <td>Boston,MA</td>
                                </tr>
                                <tr>
                                    <td>Email</td>
                                    <td><a>{{model.user.email}}</a></td>
                                </tr>
                                <tr>
                                <td>Phone Number</td>
                                <td>{{model.user.phoneNumber}}</td>

                                </tr>

                                </tbody>
                            </table>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <a data-original-title="Broadcast Message" data-toggle="tooltip" type="button" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-envelope"></i></a>
                    <div class="btn-group" ng-if="model.user.role!='ADMIN'">
                        <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Actions <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#/user/userId/viewAllOrders">View Orders</a></li>
                            <li ng-if="model.user.role=='BUYER'"><a href="#/user/userId/buyBooks">Buy Books</a></li>
                            <li><a href="#/user/userId/viewLibrary">Library</a></li>
                            <li ng-if="model.user.role=='BUYER'"><a href="#/user/userId/viewAllSellers">Choose Preferred Sellers</a></li>
                            <li ng-show="model.user.role=='SELLER'"><a href="#/user/userId/search">Sell Books</a></li>
                            <li ng-show="model.user.role=='SELLER'"><a href="#/user/userId/soldItems">View my Sold Items</a></li>


                        </ul>
                    </div>
                    <span class="pull-right">
                            <a href="#/user/editProfile" data-original-title="Edit this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-edit"></i></a>
                            <a ng-click="model.logout()" data-original-title="Remove this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove"></i></a>
                        </span>
                </div>
            </div>
        </div>

    </div>
</div>
