
<div class="container">
    <h1>Register</h1>

    <div class="alert alert-success" ng-show="model.message">
        {{model.message}}
    </div>
    <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">
                                <span class="glyphicon glyphicon-user" aria-hidden="true">

                                </span>
                            </span>
        <input type="text" ng-model="model.user.username" class="form-control ng-pristine ng-untouched ng-valid required"
               placeholder="Username" aria-describedby="basic-addon1"/>
    </div>

    <div class="form-group">

        <div class="input-group">

                <span class="input-group-addon" id="basic-addon2">
                    <span class="glyphicon glyphicon-lock" aria-hidden="true">

                    </span>
                </span>
            <form novalidate name="form1">
                <input name="password" required class="form-control" ng-model="model.user.password" placeholder="Password" />
            <!--<input type="password"  class="form-control ng-pristine ng-valid ng-touched"-->
                    <!--id='password' aria-describedby="basic-addon2" required>-->
            </form>

        </div>

    </div>
    <label for="role" style="color: chartreuse; font-size: 120%">Register As</label>

    <select id="role" ng-model="model.user.role">
        <option value="ADMIN">ADMIN</option>
        <option value="BUYER">BUYER</option>
        <option value="SELLER">SELLER</option>
        <option value="USER">USER</option>
    </select>
    <a class="btn btn-primary btn-block"
     ng-click="model.register(model.user)" >Register</a>
    <a class="btn btn-danger  btn-block"
       href="#/">Cancel</a>
</div>