input.form-control {
    margin-bottom: 5px;
}
h1
{
    font-weight: bold;
    color:red;
}
table
{
    padding-top: 80px;
}

body.kar-imageForLogin {
    padding-top: 36px;
    padding-bottom: 60px;
    background-image: url("http://bluewallpaperbackground.weebly.com/uploads/1/9/7/6/19768865/2324599_orig.jpg")
}
.kar-colorclass
{
    background-color: blue;
    color: white;
    font-weight: bold;
    padding-top: 30px;
}
.container
{
    padding-top:65px;
}
body.ks-forList
{
    padding-top: 53px;
}
.no-padding-left
{
    padding-left:0px;
}

.no-margin-left
{
    margin-left:0;
}

.mycontent-left
{
    border-right: 1px dashed #333;
}
.glyphicon-cog
{
    top:12px;
    position: absolute;
}
