<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-text pull-left wbdv-no-left-margin">
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/">
                <span class="glyphicon glyphicon-chevron-left makeItWhite">
                </span>
            </a>
        </div>
        <div class="navbar-text pull-right wbdv-no-right-margin">
            <a>
                    <span  ng-click="model.updateWidget(model.widget)"
                           class="glyphicon glyphicon-ok makeItWhite">
                    </span>
            </a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand">
                <b class="makeItWhite"> Widget Edit </b>
            </a>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <label for="name">Name</label>
    <input id="name"
           class="form-control"
           ng-model="model.widget.name"/>

    <label for="text">Text</label>
    <input id="text"
           class="form-control"
           ng-model="model.widget.text"/>

    <label for="url">URL</label>
    <input id="url"
           class="form-control"
           ng-model="model.widget.url"/>

    <label for="width">Width</label>
    <input id="width"
           class="form-control"
           placeholder="Number"
           ng-model="model.widget.width"/>
    <div class="form-group">
        <form action="/api/upload/"  method="post" enctype="multipart/form-data">
            <input  name="myFile"   type="file" class="form-control"/>
            <input  name="width"    value="{{model.widget.width}}" style="display: none"/>
            <input  name="widgetId" value="{{model.widget._id}}"   style="display: none"/>
            <input  name="pageId" value="{{model.pageId}}"   style="display: none"/>
            <input  name="websiteId" value="{{model.websiteId}}"   style="display: none"/>
            <input  name="userId" value="{{model.userId}}"   style="display: none"/>
            <button type="submit"   class="btn btn-block btn-primary">Upload Image</button>
        </form>
    </div>
    <div class="ks-addPaddingBottom">
    <a href="widget-list.view.client.html" class="btn btn-success btn-block">Upload</a>
        <a ng-click="model.deleteWidget(model.widget._id)" class="btn btn-danger btn-block">Delete</a>
    </div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <div class="ks-addPaddingOnRight">
                <a href="#/user/{{model.userId}}">
                    <span class="glyphicon glyphicon-user makeItWhite">
                    </span>
                </a>
            </div>
        </div>
    </div>
</nav>
</div>