<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-text pull-left wbdv-no-left-margin">
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/">
                <span class="glyphicon glyphicon-chevron-left makeItWhite">
                </span>
            </a>
        </div>
        <div class="navbar-text pull-right wbdv-no-right-margin">
            <a>
                    <span  ng-click="model.updateWidget(model.widget)"
                           class="glyphicon glyphicon-ok makeItWhite">
                    </span>
            </a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand">
                <b class="makeItWhite"> Widget Edit </b>
            </a>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <label for="name">Name</label>
    <input id="name"
           class="form-control"
           ng-model="model.widget.name"/>

    <label for="text">Text</label>
    <input id="text"
           class="form-control"
           ng-model="model.widget.text"/>

    <label for="url">URL</label>
    <input id="url"
           class="form-control"
           ng-model="model.widget.url"/>

    <label for="width">Width</label>
    <input id="width"
           class="form-control"
           placeholder="Number"
           ng-model="model.widget.width"/>

    <div class="form-group">
        <label for="exampleInputFile">Upload</label>
        <input type="file" id="exampleInputFile" class="form-control">

    </div>
    <div class="ks-addPaddingBottom">
    <a href="widget-list.view.client.html" class="btn btn-success btn-block">Upload</a>
        <a href="widget-list.view.client.html" class="btn btn-danger btn-block">Delete</a>
    </div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <div class="ks-addPaddingOnRight">
                <a href="#/user/{{model.userId}}">
                    <span class="glyphicon glyphicon-user makeItWhite">
                    </span>
                </a>
            </div>
        </div>
    </div>
</nav>
</div>