<div class="ks-websiteList">
 <nav class="navbar navbar-default navbar-fixed-top">
     <div class="container-fluid">
            <div class="navbar-text pull-left wbdv-no-left-margin">
            <a href="#/user/{{model.userId}}">
                <span class="glyphicon glyphicon-chevron-left makeItWhite">
                </span>
            </a>
            </div>
        <div class="navbar-text pull-right wbdv-no-right-margin">
            <a href="#/user/{{model.userId}}/website/new">
                    <span class="glyphicon glyphicon-plus makeItWhite">
                    </span>
            </a>
        </div>
            <div class="navbar-header">
                <a class="navbar-brand">
                  <b class="makeItWhite"> Websites </b>
                </a>
            </div>
     </div>
    </nav>
 <div class="container-fluid">
     <ul class="list-group">
         <li ng-repeat="website in model.websites" class="list-group-item">

                 <a href="#/user/{{model.userId}}/website/{{website._id}}/page/" class="forCogShift">
                     {{website.name}}
                 </a>
                 <a href="#/user/{{model.userId}}/website/{{website._id}}" class="pull-right">
                    <span class="glyphicon glyphicon-cog">
                    </span>
                 </a>
             </li>
         </ul>
         <div class="ks-addPaddingBottom">
        </div>
     </div>
 <div class="col-xs-12">
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-right wbdv-no-right-margin">
            <a href="#/user/{{model.userId}}">
                    <span class="glyphicon glyphicon-user makeItWhite">
                    </span>
            </a>
        </div>
    </div>
</nav>
 </div>
 </div>
