

<div class="container-fluid">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-text pull-right">
                <a href="#/user/{{model.user._id}}" ng-click=model.update(model.user)>
            <span class="glyphicon glyphicon-ok">
            </span>
                </a>
            </div>
            <div class="navbar-header">
                <a class="navbar-brand" href="#/user/{{model.user._id}}">
                    <b class="kp-navbar-text">Profile</b>
                </a>
            </div>
        </div>
    </nav>
    <table class="table ks-forBookTablePaddingTop">
        <thead>
        <tr>
            <th>No.</th>
            <th>Profile Pic</th>
            <th>User Name</th>
            <th>Password</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Delete User</th>
        </tr>
        </thead>

        <tbody>
        <tr ng-repeat="element in model.users">
            <td>
                {{$index+1}}
            </td>
            <td scope="row">
                <img ng-src={{element.imageWidget.url}} class="img-thumbnail" width="75" height="75">
            </td>
            <td>
                <a ng-click="model.viewUser(element._id)">{{element.username}}</a>
            </td>
            <td>{{element.password}}</td>
            <td>
                {{element.firstName}}
            </td>
            <td>
                {{element.lastName}}
            </td>
            <td>
                <a ng-click="model.deleteUser(element._id)">
                 <span class="glyphicon glyphicon-remove-sign ">
            </span>
                </a>
            </td>

        </tr>
        </tbody>
    </table>
    <div class="ks-addPaddingBottom">

    </div>

    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
            <div class="navbar-text pull-right">
                <a href="#/user/{{model.user._id}}">
            <span class="glyphicon glyphicon-user">
            </span>
                </a>
            </div>
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                </a>
            </div>
        </div>
    </nav>
</div>