<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-text pull-right wbdv-no-right-margin">

                    <span  ng-click="model.adminupdateUser(model.user)" class="glyphicon glyphicon-ok makeItWhite" >
                    </span>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand">
                <b class="makeItWhite">Edit Profile By Admin</b>
            </a>

        </div>
    </div>
</nav>
<div class="container-fluid" style="color: chartreuse; font-size: 120%">
    <h1></h1>
    <div ng-show ="model.error" class="alert alert-danger" role="alert">
        {{model.error}}
    </div>
    <div ng-show ="model.message" class="alert alert-success" role="alert">
        {{model.message}}
    </div>
    <div >
    <label for="first">First Name</label>
    <input id="first"
           class="form-control"
           placeholder="John"
           ng-model="model.user.firstName"
           value="Karan"/>

    <label for="last">Last Name</label>
    <input id="last"
           class="form-control"
           placeholder="Doe"
           ng-model="model.user.lastName"
           value="Sharma"/>

    <label for="email">Email</label>
    <input id="email"
           type="email"
           class="form-control"
           placeholder="john@doe.com"
           ng-model="model.user.email"
           value="your-name@example.com"/>

    <label for="username">Username</label>
    <input id="username"
           class="form-control"
           placeholder="john123"
           ng-model="model.user.username"/>

    <label for="password">Password</label>
    <input id="password"
           class="form-control"
           placeholder="req4321"
           ng-model="model.user.password"
    type="password"/>

    <label for="datepicker1">Date of Birth</label>
    <div class='date' id='datepicker'>
        <input type="text" id="datepicker1" ng-model="model.user.dateOfBirth" class="form-control"/>
        <span class="glyphicon glyphicon-calendar pull-right ks-shiftCalIconUp">
                </span>
    </div>

        <label for="address">Address</label>
        <input id="address"
           class="form-control"
           ng-model="model.user.address" height="200px"/>

    <label for="phonenumber">Phone Number</label>
    <input id="phonenumber"
           class="form-control"
           ng-model="model.user.phoneNumber" height="200px"/>
        <label for="role">Role</label>

        <select id="role" ng-model="model.user.role">
            <option value="ADMIN">ADMIN</option>
            <option value="BUYER">BUYER</option>
            <option value="SELLER">SELLER</option>
            <option value="USER">USER</option>
        </select>


    <div class="radio">
          <label><input type="radio" name="optradio" ng-model="model.user.gender" value="Male">Male</label>
    </div>
    <div class="radio">
          <label><input type="radio" name="optradio" ng-model="model.user.gender" value="Female">Female</label>
    </div>
    </div>
    <div class="ks-addPaddingBottom">
    </div>
    <div class="col-xs-2">
        <nav class="navbar navbar-default navbar-fixed-bottom">
            <div class="container-fluid">
                <a ng-href="#/admin" class="makeItWhite">
                    <i class="fa fa-chevron-left ks-shift-arrow-in-position" aria-hidden="true"></i>
                </a>
                <div class="navbar-text pull-right wbdv-no-right-margin">

                    <i class="fa fa-power-off makeItWhite" aria-hidden="true" ng-click=model.logout()></i>

                </div>
            </div>
        </nav>
    </div>
</div>

