<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#/">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <b class="makeItWhite">LookBook App</b>
                </div>
            </a>

        </div>
    </div>
</nav>


<div class="container-fluid ks-pushForList" >
    <div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

            <div ng-if="model.selected.volumeInfo.imageLinks.smallThumbnail">
                <img ng-src="{{model.selected.volumeInfo.imageLinks.smallThumbnail}}" class="shift-down-image"/>
            </div>
            <h3><b>Author</b><br/></h3>
            <div ng-repeat="author in model.selected.volumeInfo.authors">
                <h4>{{author}}<br/>
                </h4>
            </div>
            <h3><b>Categories</b><br/></h3>
            <div ng-repeat="category in model.selected.volumeInfo.categories">
                <h4>{{category}}<br/>
                </h4>
            </div>
            <h3><b>Description </b><br/></h3>
            <p id="Description">{{model.selected.volumeInfo.description}}</p>

            <h3><b>Dimensions </b><br/></h3>
            <p ><b>Height &nbsp &nbsp</b>{{model.selected.volumeInfo.dimensions.height}}</p>
            <p ><b>Width &nbsp &nbsp</b>{{model.selected.volumeInfo.dimensions.width}}</p>
            <p ><b>Thickness &nbsp &nbsp</b>{{model.selected.volumeInfo.dimensions.thickness}}</p>
            <p><b>Web Reader Link &nbsp &nbsp</b><a href="{{model.selected.accessInfo.webReaderLink}}">Click Here</a></p>
            <p><b>Average Rating &nbsp &nbsp{{model.selected.volumeInfo.averageRating}}</b></p>
            <h3><b>Publisher</b><br/></h3>
            <p >{{model.selected.volumeInfo.publisher}}</p>
            <h3><b>Published Date </b><br/></h3>
            <p >{{model.selected.volumeInfo.publishedDate}}</p>
            <a ng-click="model.addToLibrary(model.bookId,model.selected.volumeInfo.title,model.userId,model.selected.volumeInfo.publisher,model.selected.volumeInfo.imageLinks.smallThumbnail)" class="btn btn-success btn-block">Add to Library</a>
            <div class="ks-addPaddingBottom">
            </div>
        </div>
    </div>

    </div>
<div class="col-xs-12">
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
            <a ng-href="#/user/userId/search" class="makeItWhite">
                <i class="fa fa-chevron-left ks-shift-arrow-in-position" aria-hidden="true"></i>
            </a>
            <div class="navbar-text pull-right wbdv-no-right-margin">

                <i class="fa fa-power-off makeItWhite icon" aria-hidden="true" ng-click=model.logout()></i>

            </div>
        </div>
    </nav>
</div>

