<div class="container-fluid">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-text pull-right">
                <a href="#/user/{{model.user._id}}" ng-click=model.update(model.user)>
            <span class="glyphicon glyphicon-ok">
            </span>
                </a>
            </div>
            <div class="navbar-header">
                <a class="navbar-brand" href="#/user/{{model.user._id}}">
                    <b class="kp-navbar-text">Profile</b>
                </a>
            </div>
        </div>
    </nav>

    <div class="container-fluid ks-pushForList" >
        <div>

            <img ng-src="{{model.selected.volumeInfo.imageLinks.medium}}"/>
            <h3><b>Author</b><br/></h3>
            <div ng-repeat="author in model.selected.volumeInfo.authors">
                <h4>{{author}}<br/>
                </h4>
            </div>
            <h3><b>Categories</b><br/></h3>
            <div ng-repeat="category in model.selected.volumeInfo.categories">
                <h4>{{category}}<br/>
                </h4>
            </div>

        </div>
        <h3><b>Description </b><br/></h3>
        <p id="Description">{{model.selected.volumeInfo.description}}</p>
        <h3><b>Dimensions </b><br/></h3>
        <p ><b>Height &nbsp &nbsp</b>{{model.selected.volumeInfo.dimensions.height}}</p>
        <p ><b>Width &nbsp &nbsp</b>{{model.selected.volumeInfo.dimensions.width}}</p>
        <p ><b>Thickness &nbsp &nbsp</b>{{model.selected.volumeInfo.dimensions.thickness}}</p>
        <p><b>Web Reader Link &nbsp &nbsp</b><a href="{{model.selected.accessInfo.webReaderLink}}">Click Here</a></p>
        <p><b>Average Rating &nbsp &nbsp{{model.selected.volumeInfo.averageRating}}</b></p>
        <h3><b>Publisher</b><br/></h3>
        <p >{{model.selected.volumeInfo.publisher}}</p>
        <h3><b>Published Date </b><br/></h3>
        <p >{{model.selected.volumeInfo.publishedDate}}</p>
        <h3><b>Comments</b></h3>
        <p>{{model.element.comments}}</p>
        <h3><b>Condition</b></h3>
        <p>{{model.element.condition}}</p>
        <h3><b>Price</b></h3>
        <p>{{model.element.price}}</p>

        <div ng-if=(model.userId!==model.sellerId)>
        <a ng-click="model.buyBook(model.bookId,model.selected.volumeInfo.title,model.userId,model.element.condition,model.element.price,model.element.comments,model.element.sellerusername,model.element.sellerfirstname,model.element.sellerlastname)"
           class="btn btn-success btn-block" ng-show=model.element.condition!=null>Buy this book</a>
            <a ng-click="model.preferredSeller(model.sellerId)" class="btn btn-success btn-block">Preferred Seller</a>
        </div>


        <!--if the condition is not null, then only buy button will be shown. Hence make the condition element compulsory-->
        <div class="ks-addPaddingBottom">
        </div>
    </div>
</div>